/* div p{
    color: brown;
    background-color: aqua;
}*/
/* 
div > p{
    color: red;
    background-color: black;
}  */

/* div,span,section,p{
    color: red;
    background-color: black;
}   */
div ~ p{
    color: red;
    background-color: black;
} 
